

//padding setting
$padding_default:0 15px;

//color setting
$color_bg1:#fdf6f6;
$color_bg2:#ffe1de;
$color_hover:#557770;

$base_url:unquote("../img/");
$nav_h :100px;
@mixin indent(){
    text-indent:-9999px;
}
@mixin container_w($max_w:1720px) {
    width:100%;
    max-width: $max_w;
    margin: 0 auto;
    position: relative;
}
@mixin bg_img_big() {
    background : {
        position: center;
        size: cover;
        repeat: no-repeat;
    }
}

@mixin bor-r($r:5px) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}
/*----- font -----*/
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/*----- common -----*/
div, header, section, footer, a, button {
    box-sizing: border-box;
}
a, a:hover, a:focus, a:visited {
    text-decoration:none;
    color:#333;
    outline: none;
    &:focus-visible {
        outline:thin dotted;
    }
}

button,
button:focus,
button:hover {
    background:transparent;
    border: none;
    outline: none;
    
}

html, body {
    font-family: 'Noto Sans KR', sans-serif;
}
br {
    font-family: 'Noto Sans KR', sans-serif!important;
}

/*----- header -----*/
.body-wrapper {
    margin: 0;
    padding: 100px 0 0 0;
    position: relative;
    font-family:'GmarketSansMedium';
    font-size:16px;

    &__header {
        position: fixed;
        top: 0;
        margin: 0 auto;
        z-index: 9;
    }

    &__article {
        padding-top:50vh;
        margin-top:-50vh;
        background:$color_bg1;
    }

}

.header {
    width: 100%;
    height: $nav_h;
    position: fixed;
    padding: $padding_default;
    overflow: hidden;
    background-color: #fff;

    &__container {
        max-width: 1720px;
        margin: 0 auto;
        position: relative;
    }

    &__logo {
        position: absolute;
        max-width: 200px;
        height: 100%;
        left: 0;
    }

    &__logo-link {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 1s;
        text-indent:-9999px;
    }

    &__logo-link--sonosa {
        background-image:url("#{$base_url}design/logo_sonosa.svg");
        width: 192px;
        height: 50px;
        margin-top: 30px;
    }

    &__logo-link--webzine {
        height: 60px;
        width: 162px;
        margin-top: 20px;
    }

    &__nav-scroll {
        position: absolute;
        top: 34px;
        right: 80px;
    }
    &__toggle-menu {
        position:absolute;
        top:30px;
        right:0;
    }
}

/*nav-scroll*/
.nav-scroll {
    display: block;
    overflow:hidden;
    line-height: 40px;
    font-size: 20px;
    

    &__list {
        display: block;
        float: left;    
    }
    &__list:not(:last-child) {
        margin-right: 72px;
    }

    &__btn {
        width:100%;        
        cursor: pointer;
    }
    &__btn:hover {        
        color:$color_hover;
    }
}
/*toggle-btn*/
.toggle-menu {
    width: 40px;
    height: 40px;
    display: block;
    text-indent:-9999px;

    &__line {
        width: 100%;
        height: 3px;
        background-color: #444;
        display: block;
        position: absolute;
        transition: width 0.3s;
        transform-origin: right;
        right: 0;
    }

    &__line:nth-child(1) {
        top: 8px;
        width: 60%;
    }

    &__line:nth-child(2) {
        top: 19px;
        width: 100%;
    }

    &__line:nth-child(3) {
        top: 30px;
        width: 80%;
    }

    //animation
    &:hover .toggle-menu__line:nth-child(1),
    &:hover .toggle-menu__line:nth-child(3) {
        width: 100%;
    }
    &:hover .toggle-menu__line:nth-child(2) {
        width: 50%;
    }
}


/*----- common-section-----*/
.section {
    width: 100%;
    padding-bottom: 100px;

    &__container {
        @include container_w(1170px);
        padding-top:40px;
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 80px;
            position: absolute;
            left: 50%;
            top: -40px;
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.3);
        }
        &::after {
            content: "";
            display:block;
            width:5px;
            height:5px;
            position:absolute;
            top: -40px;
            left: calc(50% - 2px);
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.3);
            @include bor-r(2px);
        }
    }

    &__h2 {
        margin:0 0 30px 0;
        text-align:center;
        position:relative;
        padding-top:60px;
        font: {
            family: 'GmarketSansLight', sans-serif;
            size: 40px;	
        }
    }

    &__h2::before {
        content:"";
        position:absolute;
        top:0;
        left: calc(50% - 15px);        
        width:30px;
        height:30px;
        @include bg_img_big;
    }
    
}
.article-list {
    display:flex;
    justify-content: space-between;
    padding:0 15px;
    margin-bottom:0;
    &__thumb-wrapper {
        position: relative;
        display:block;
        padding-top: 42%;
        overflow:hidden;
    }
    &__thumb-wrapper--s {
        width: calc(33.3% - 8px);
    }
    &__thumb-wrapper--m {
        width: calc(50% - 6px);
    }
    &__thumb-wrapper--l {
        width: calc(66.7% - 4px);
    }
}

.thumb {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 30px;
    @include bg_img_big;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;

    /*background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    */

    
    &__img {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        right:0;
        bottom:0;
        left:0;
        overflow:hidden;
    }
    &__img::before {
        content: "";
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            position: absolute;
            z-index:2;
    }

    &__img::after {
        content:"";
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        
    }
    &__img img {
        width:100%;
        height:auto;
        transition:all 0.5s;
        z-index:1;
    }

    &:hover .thumb__img img {
        transform:scale(1.2);
                
    }

    &:hover .thumb__img::after {
        background: transparentize($color_hover, 0.3);
        transition:background 0.5s;
    }
    &__text-wrapper {        
        height:auto;
        max-height:30px;
        overflow: hidden;
        position: absolute;
        bottom: 30px;
        left: 30px;
        text-align: left;
        transition: all 0.5s;
        color: #fff;
        word-break: keep-all;
        transition:max-height 1s;
        z-index:3;
    }
    
    &:hover .thumb__text-wrapper {
        height:auto;
        max-height:300px;

    }

    &__cate {
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 0;
        left: 0;
        font: {
            family: 'GmarketSansBold', sans-serif;
            size: 26px;
        }

        line-height: 1.3;
    }

    &__txt {        
        height: auto;
        margin: 0;
        overflow: hidden;
        position: relative;
        left: 0;
        font-size:18px;
    }

    &__txt::before {
        content: "";
        display: block;
        width: 30px;
        height: 1px;
        margin: 0;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;

    }

}


/*----- section--visual -----*/
.section--visual {
    padding-bottom:0;
    &__container {
        @include container_w;
        @include bg_img_big;
        height: calc(100vh - #{$nav_h});        
        background-image: url('#{$base_url}/vol/slide_pc.png');
    }

    &__logo-wrapper {
        width: calc(100% - 30px);
        max-width: 320px;
        height:100%;
        position: relative;
        margin:0 auto;
    }

    &__logo {
        @include indent;
        width:100%;
        height:0;
        margin:0;
        padding-top:68%;
        position:absolute;
        top:22%;
        left:0;
        background-image: url('#{$base_url}/design/logo.svg');
        background-repeat: no-repeat;
        
    }
    
    &__webzine-title {
        position:absolute;
        bottom:-14px;
        text-indent:0;
        font: {
            weight: normal;
            size: 20px;
        }        
        color:#fff;
    }
    &__scroll-bottom {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.scroll-bottom {
    text-align:center;   
	color: #fff;
	cursor: pointer;
}

.section--cate1 {
    
    .section__h2::before {        
        background-image: url(#{$base_url}/design/category_1.png);
    }
}
.section--cate2 {
    background-color:$color_bg2;
    .section__h2::before {        
        background-image: url(#{$base_url}/design/category_2.png);
    }
}
.section--cate3 {
    
    .section__h2::before {        
        background-image: url(#{$base_url}/design/category_3.png);
    }
}
.section--cate4 {
    .section__container::before {
        height:140px;
        top:-100px;
    }
    .section__container::after {
        top: -102px;
    }
    .section__h2::before {
        background-image: url(#{$base_url}/design/category_3.png);
    }
}

/*section--subscribe*/
.section--subscribe {
    padding: 100px 0;
    background-color: $color_hover;

    &__container {
        @include container_w(1170px);
        padding: 0 15px;
        overflow:hidden;
    }

    &__icon {
        background-color: $color_bg2;
        
        width: calc(33.3% - 8px);
        height: 300px;
        float: left;
    }
    &__ico-img {
        display: block;
	width: 200px;
	height: 200px;
	background-size: contain;
    margin: 50px auto;
    background-image:url('#{$base_url}/design/ico_sub.png')
    }

    &__text {
        background-color: #fff;
        height: 300px;
        width: calc(66.7% + 8px);
        float: left;
        display: block;
        padding: 60px 5%;
    }

    &__desc {
        font-size: 20px;
        font-family: 'GmarketSansLight', sans-serif;
    }
    &__input {
        height: 60px;
	border: 1px solid #666;
	padding: 0 20px;
	width: calc(100% - 180px);
	max-width: 300px;
	line-height: 60px;
	margin: 0;
	display: block;
	float: left;
	
    }
    &__input::placeholder {
        color: #aaa;
    }
    
    &__submit {
        border: 0;
	width: 180px;
	height: 60px;
	margin: 0;
	color: #fff;
	padding: 16px;
	background-color: #000;
    }
}

.section--footer {
    background: #333;
    position: relative;
    padding: 40px 0;
    color: #eee;
    font-family: 'GmarketSanslight', sans-serif;
    font-size: 17px;
    overflow: hidden;

    &__container {
        @include container_w(1170px);
        padding: 0 15px;
        overflow: hidden;
    }

    &__logo {
        @include indent;
        width: 160px;
        height: 60px;
        display: block;
        float: left;
        background-image: url('#{$base_url}/design/logo_bar_w.svg');
        background-repeat: no-repeat;

    }

    &__sub-btn {
        float: left;
        background: #181818;
        border: 0;
        padding: 14px 15px 10px;
        @include bor-r(5px);
        font-size: 15px;
        line-height: 1;
        margin: 20px 0 0 8px;
        width: 160px;
        color: #eee;
        transition: background 0.3s;

    }
    &__sub-btn:hover {
        background-color:$color_hover;
    }
    &__info {
        margin:30px 0 0 0;
        overflow:hidden;
    }
    &__dl {
        margin-bottom:0;
    }
    &__dt {
        display:inline-block;
        font-family:'GmarketSansMedium';
    }
    &__dd {
        display:inline-block;
    }

    &__dd a {
        color:#eee;
    }
    
}
