@charset "UTF-8";

/* reset */
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

ol,
ul {
    list-style: none;
}

a,
a:link,
a:visited,
a:active {
    outline: 0;
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

p {
    margin: 0;
}

/*font*/
/*noto-sans-500*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/*cafe24 아네모네*/
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24OhsquareAir';
    src: url('font/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------------------- side menu ----------------------*/
/*사이드 메뉴*/
#side .modal-dialog {
    position: fixed;
    right: 0;
    background-color: #fff;
    margin: auto;
    width: 400px;
    max-width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

#side.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

#side.fade.in .modal-dialog {
    right: 0;
}

#side .modal-dialog {
    padding: 20px;
    overflow-y: scroll;
}

#side .modal-dialog .close {
    width: 40px;
    height: 40px;

    position: relative;
    opacity: 0.75;
    transition: transform 0.5s, background-color 1s;
}

#side .modal-dialog .close:hover {
    transform: rotate(90deg);
}

#side .modal-dialog .close span {
    width: 100%;
    height: 3px;
    background-color: black;
    display: block;
    position: absolute;
}

#side .modal-dialog .close span:nth-child(1) {
    transform: rotate(45deg);
}

#side .modal-dialog .close span:nth-child(2) {
    transform: rotate(-45deg);
}

#side .modal-dialog .close:hover span {
    background-color: #004080;
}

#side .modal-dialog .logo {
    /*사이드메뉴 로고*/
    width: 90px;
    height: 40px;
    margin: 0;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../img/common/logo_camp_black.png');
}

#side .modal-dialog .logo span {
    text-indent: -9999px;
}

#side .modal-dialog .side-text {
    /*vol month 텍스트*/
    font-size: 16px;
    margin-top: 6px;
}

#side .nav>ul {
    list-style-type: none;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-width: 1px 0;
    padding: 10% 5%;
}

#side .nav>ul>li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

#side .nav>ul>li:last-child {
    margin-bottom: 0;
}

#side .nav>ul>li::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background: #bbd0e6;
    left: 0;
    top: 12px;
    border-radius: 15px;

}

#side .nav>ul>li a {
    font-family: 'Cafe24Ohsquare';
    font-size: 26px;
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
    color: #004080;
}

#side .nav>ul>li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #004080;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}


#side .nav>ul>li a:hover {
    color: #165995;
    transition: 0.5s;
}

#side .nav>ul>li a:hover::after {
    width: 100%;
}

#side .nav>ul>li>ul>li {
    font-size: 15px;
}

/*--------------- header ---------------*/
#header {
    width: 100%;
    position: fixed;
    z-index: 99;
    /* background-color:#fff; */
    padding: 28px 15px;
}

.header--cover {
    background-color: #fff;
    transition: background 0.5s;
}

.header--cover.header--white {
    background-color: transparent;

}

.header__container {
    max-width: 1720px;
    width: 100%;
    position: relative;
    padding: 0;
}

.header__logo {
    float: left;
    /* height: 40px; */
}

.header__logo.logo--camp {
    background-image: url('../img/common/logo_camp_black.png');
    width: 90px;
    height: 40px;
    /* margin-top: 8px; */
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.header__logo.logo--camp.white {
    background-image: url('../img/common/logo_camp_white.svg');
}


.header__nav ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Cafe24OhsquareAir', sans-serif;
    font-size: 24px;
    width: 80%;
    max-width: 860px;
    margin-left: auto;
    margin-right: 0;
    float: right;
    margin-bottom: 0;
}

.header__nav a {
    padding: 7px 8px;
    line-height: 1;
    display: block;
    position: relative;
    color: #222;
    line-height: 23px;
    transition: color 0.3s;
}

.header__nav a::after {
    content: "";
    height: 3px;
    display: block;
    background: #004080;
    width: 0;
    transition: width 0.3s;
}

.header__nav .active a::after,
.header__nav a:hover::after {
    width: 100%;
}

.header__nav .active a,
.header__nav a:hover {
    color: #004080;
}

/*커버 상단*/
#header.header--white {
    background-color: transparent;
}

/*금융보안원 로고*/
.header--white .logo--fsec {
    display: block;
}

.header--white .logo--camp {
    display: none;
}

/*네비게이션 밝게 색상 조정*/
.header--white .nav a {
    color: #fff;
}

.header--white .active a,
.header--white a:hover {
    color: #eeff60;
}

.header--white a::after {
    background: #eeff60;
}

.header__btn-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-menu {
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    display: none;
}

.btn-menu span {
    width: 100%;
    height: 4px;
    background: #102132;
    display: block;
    margin-bottom: 10px;
    transition: width 0.5s;
    margin-right: 0;
    margin-left: auto;
}

.btn-menu span:nth-child(1) {
    width: 60%;
}

.btn-menu span:nth-child(2) {
    width: 100%
}

.btn-menu span:nth-child(3) {
    width: 80%
}

/* menu animation*/
.btn-menu:hover span {
    background-color: #102132;
}

.header--white .btn-menu span {
    background: #fff;
}


.btn-menu:hover span:nth-child(1) {
    width: 100%;
}

.btn-menu:hover span:nth-child(2) {
    width: 50%
}

.btn-menu:hover span:nth-child(3) {
    width: 100%
}

.btn-menu span:nth-child(3) {
    margin-bottom: 0px;
}


/*header media query*/
@media(max-width:991px) {
    .header__nav {
        display: none;
    }

    .btn-menu {
        display: block;
    }
}

@media(max-width:480px) {
    .logo--fsec {
        width: 40px;
        height: 30px;
    }

    .btn-menu {
        height: 25px;
    }

    .btn-menu span {
        height: 3px;
        margin-bottom: 8px;
    }
}

/*--------------- footer ---------------*/
address {
    text-align: center;
}

.footer-line-1 {
    background-color: #f3f5f7;
    padding: 40px 0;
}

.link-wrapper {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    margin-bottom: 0;
}

.link li {
    background: none;
    margin-right: 20px;
    height: 40px;
}

.link img {
    height: 100%;
}

.link::before {
    display: block;
    width: 80px;
    height: 40px;
    background: #0D3B69;
    color: #fff;
    text-indent: 0;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-radius: 3px;
    margin-right: 10px;
    font-family: 'Cafe24Ohsquare', sans-serif;
}

.link--host {
    margin-right: 30px;
}

.link--host::before {
    content: "주최";
}

.link--support::before {
    content: "후원";
}

.footer-line-2 {
    padding: 30px 0;
    background-color: #102132;
    color: #fff;
    font-size: 14px;
}

.footer__logo {
    margin: 20px auto 30px;

}

@media(max-width:991px) {
    .link-wrapper {
        display: block;
    }

    .link {
        justify-content: center;
    }

    .link--host {
        margin-bottom: 20px;
    }

    .link li {
        height: 30px;
        margin-right: 10px;
    }

    .link::before {
        width: 40px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        border-radius: 3px;
    }
}

@media(max-width:480px) {
    .link li {
        height: 20px;
        margin-right: 10px;
    }

    .footer__logo {
        width: 100px;
    }
}

/*sub layout*/
.sub {
    padding: 100px 15px;

}

.sub__top~.sub {
    padding-top: 0;
    margin-top: calc(-50vh + 100px);
}

.sub__container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    /* background-color: #000; */
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    padding-bottom: 80px;
}

/*sub*/
.sub__top {
    background-color: #c3c3c3;
    width: 100%;
    height: 50vh;
}

.sub--seminar .sub__container,
.sub--mentor .sub__container,
.sub--assign .sub__container {
    border-radius: 10px 10px 0 0;
}

.heading {
    width: calc(100% - 15px);
    max-width: 960px;
    margin: 80px auto 0 auto;
    position: relative;
    display: flex;
    justify-content: stretch;
}

.heading .heading-line {
    background-color: #fff;
    width: 100%;
    height: 1px;
    top: 13px;
    position: relative;
}

.heading .heading-line::before,
.heading .heading-line::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    top: -2px;
    background-color: #fff;
}

.heading .heading-line::before {
    left: 0;
}

.heading .heading-line::after {
    right: 0;
}

.heading h2 {
    font-family: 'Cafe24Ohsquare', sans-serif;
    font-size: 30px;
    margin-top: 0;
    white-space: nowrap;
    padding: 0 20px;
    color: #fff;
}

.sub__container p {
    color: #fff;
}

@media (max-width:480px) {
    .sub {
        padding-bottom: 40px;
    }

    .heading h2 {
        font-size: 24px;
        white-space: normal;
        word-break: keep-all;
        text-align: center;
        padding: 0 10px;
    }

    .heading .heading__div {}

    .heading .heading-line {}
}

/*다운로드 버튼*/
a.btn-down {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 18px;
    border: 2px solid #fff;
    border-radius: 37px;
    font-family: 'Cafe24Ohsquare';
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    transition: color 1s, background 0.3s;
}

a.btn-down:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #eeff60;
}

@media(max-width:480px) {
    a.btn-down {
        font-size: 18px;
        padding: 10px;
    }

}


/*비디오*/
.video {
    width: 100%;
    max-width: 966px;
    height: auto;
    margin: 30px auto 40px;
    padding: 3px;
    background-color: #fff;
}

.video .video-wrapper {
    width: 100%;
    padding-top: 56.25%;
    margin: 0 auto;
    position: relative;
    background-color: #000000;
    z-index: 2;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video .btn-play {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    max-width: 200px;
    max-height: 200px;
    background: url('../img/common/btn_play.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.video .btn-play:hover {
    opacity: 1;
}

.video .video-thumb img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: opacity 0.5s;
}

.video .video-thumb:hover img {
    opacity: 0.5;
}

/*일러스트*/
.illust-wrapper {
    width: 90%;
    height: auto;
    position: absolute;
    /* z-index: 1; */
    right: 1%;
    bottom: 0;
    background-size: cover;
    text-align: right;
    background: red;
}

.illust-wrapper img {
    max-width: 250px;
    width: 25%;
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0;
}

/*비디오 리스트*/
.video-list {
    display: flex;
    justify-content: stretch;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}

.video-list li {
    width: 100%;
    height: 232px;
    text-align: center;

}

.video-list li:not(:last-child) {
    margin-right: 10px;
}

.video-list li button {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    word-break: keep-all;
}

.video-list li button::before {
    content: "";
    background-image: url("../img/common/btn_play_2.svg");
    background-size: contain;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto 10px auto;
}

.video-list li button.active::before {
    background-image: url("../img/common/btn_play_active.svg");
}

.video-list li button:hover,
.video-list li button.active {
    background-color: #333;
    border-color: #333;
    color: #fff;
    transition: all 0.3s;
}

@media(max-width:767px) {
    .video-list {
        flex-wrap: wrap;
    }

    .video-list li {
        margin-top: 15px;
        height: auto;

    }

    .video-list li:not(:last-child) {
        margin-right: 0;
    }

    .video-list li button {
        border-radius: 10px;
    }

    .video-list li button::before {
        width: 24px;
        height: 24px;
    }
}

/*페이지별 설정*/

/*메인화면*/
.section--cover {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #102132;
    background-size: cover;
    background-position: bottom;
}

.section--cover~.sub--lecture {
    padding-top: 0;
    margin-top: -30vh;
}

.logo {
    text-indent: -9999px;
    text-align: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.logo--fsec {
    width: 136px;
    height: 40px;
    background-image: url('../img/common/logo_white.png');
    background-size: auto 100%;
    background-position: left;
    display: none;
}

h1.logo--camp {
    background-image: url("../img/logo_h1.png");
    background-position: top;
    width: 60%;
    height: 50vh;
    max-width: 360px;
    max-height: 272px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}

/*메인화면 애니메이션*/

.section--cover div {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity: 1s;
}

.section--cover.start div {
    opacity: 1;
}

.section--cover .star-yellow {
    background-image: url(../img/cover/star_yellow.png);
    width: 100%;
    height: 50vh;
    background-position: center;
    transform: translateY(-10px);
    transition: opacity 0.5s 0.5s, transform 1s 0.8s;
}

.section--cover .star-white {
    background-image: url(../img/cover/star_white.png);
    width: 100%;
    height: 50vh;
    background-position: center;
    transition: opacity 0.5s 0.5s, transform 1.2s 1s;
}

.section--cover .clouds {
    background-image: url(../img/cover/clouds.png);
    width: 100%;
    height: 50vh;
    background-position: center;
    transition: opacity 0.5s 0.5s, transform 1s 1s;
}

.section--cover .tree-back {
    background-image: url(../img/cover/tree_back.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: bottom;
    transition: opacity 1s 1s;
}

.section--cover .tent-back {
    background-image: url(../img/cover/tent_back.png);
    width: 100%;
    height: 10vh;
    background-position: center bottom;
    background-size: auto 100%;
    bottom: 50vh;
    transition: opacity 1s 1s;
}

.section--cover .main-illust-container {
    width: 100%;
    max-width: 780px;
    position: absolute;
    bottom: 30vh;
    height: 100vh;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
}

.section--cover .main-illust-container .inner {
    width: 100%;
    padding-top: 50%;
    bottom: 0;
}

.section--cover .tent-center {
    background-image: url(../img/cover/tent_center.png);
    width: 38.4%;
    max-width: 300px;
    height: 200px;
    background-position: bottom;
    left: 50%;
    bottom: 20vh;
    transform: translateX(-50%);
    transition: opacity 1s 1s;
}

.section--cover .ground {
    width: 100%;
    height: 50vh;
    background-color: #0D3B69;
    bottom: -10vh;
    opacity: 1;
    transition: bottom 1s;
}

.section--cover .people-man {
    background-image: url(../img/cover/man.png);
    width: 29.4%;
    /* max-width:230px; */
    height: 66.66%;
    background-position: bottom;
    left: 8.2%;
    bottom: 5vh;
    /* background-color: red; */
}

.section--cover .people-man .man-hand {
    background-image: url(../img/cover/man_hand.png);
    width: 29.4%;
    height: 25%;
    bottom: 52%;
    left: 20%;
    background-position: bottom;
    transform-origin: left;
    display: none;
}

.section--cover.start .people-man .man-hand {
    -webkit-animation: wobble-hor-bottom 2s infinite both;
    animation: wobble-hor-bottom 2s infinite both;
}


.section--cover .people-woman {
    background-image: url(../img/cover/woman.png);
    width: 28.2%;
    max-width: 218px;
    height: 71%;
    background-position: bottom;
    right: 9%;
    bottom: 5vh;
}

.section--cover .dog {
    background-image: url(../img/cover/dog.png);
    width: 19.7%;
    max-width: 154px;
    height: 88px;
    background-position: bottom;
    left: -10%;
    bottom: 2vh;
}

.section--cover .fire {
    background-image: url(../img/cover/fire.png);
    width: 18.2%;
    max-width: 142px;
    height: 162px;
    background-position: bottom;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8vh;
}

.section--cover .tree-front {
    background-image: url(../img/cover/tree_front.png);
    width: 100%;
    height: 100%;
    max-height: 30vh;
    background-position: bottom;
    background-size: auto 100%;
    bottom: 30vh;
    transition: opacity 1s 1s, bottom 0.5s;
}

/*커버 애니메이션 미디어쿼리*/
@media(max-width:767px) {
    .section--cover .tent-back {
    background-image: url(../img/cover/tent_back_m.png);
    width:100%;
    background
    background-size:100% auto;
    background-position:bottom;
}
}
/*cover animation*/
.section--cover.start .ground {
    bottom: 0;
}

.section--cover.start .star-yellow {
    transform: translateY(20px);
}

.section--cover.start .star-white {
    transform: translateY(-10px);
}

.section--cover.start .clouds {
    transform: translateY(-10px);
}

.section--cover.start .tree-back {
    transform: translateY(20px);
}

.section--cover.start .tent-back {}

.section--cover.start .tent-center {}

.section--cover.start .people-man {}

.section--cover.start .people-woman {}

.section--cover.start .fire {}

.section--cover.start .dog {}

.section--cover.start .tree-front {
    /* bottom: 30vh; */
}





/*특강*/
/*상단 색상*/
.header--lecture,
.sub__top--lecture {
    background-color: #E2DDD5;
}

/*배경이미지*/
.sub--lecture .sub__container {
    background-image: url('../img/sub/bg_1.png');
}

/*일러스트 위치*/
.sub--lecture .illust-wrapper {
    bottom: -100px;
    right: 1%;
}

@media(max-width:480px) {
    .sub--lecture .illust-wrapper {
        bottom: -40px;
    }
}

/*홍보관*/
.header--promotion,
.sub__top--promotion {
    background-color: #E0E5F1;
}

.sub--promotion .sub__container {
    background-image: url('../img/sub/bg_2.png');
}

.sub--promotion .illust-wrapper {
    bottom: -100px;
}

@media(max-width:480px) {
    .sub--promotion .illust-wrapper {
        right: 15px;
        bottom: -40px;
    }
}

/*세미나*/
.header--seminar,
.sub__top--seminar {
    background-color: #E0E5F1;
}

.sub--seminar .sub__container {
    background-image: url('../img/sub/bg_3.png');
}

.sub--seminar .illust-wrapper img {
    max-width: 320px;
    width: auto;
    height: 120px;

}

@media(max-width:767px) {
    .sub--seminar .illust-wrapper {
        bottom: -15px;
        right: -10px;
    }

    .sub--seminar .illust-wrapper img {
        max-width: 200px;
        height: auto;
    }
}

/*동영상 리스트 색상*/
.sub--seminar .video-list li button:hover,
.sub--seminar .video-list li button.active {
    background-color: #2a3057;
}

/*금융현장*/
.header--field,
.sub__top--field {
    background-color: #E4ECEE;
}

.sub--field .sub__container {
    background-image: url('../img/sub/bg_4.png');
}

.sub--field .illust-wrapper {
    bottom: -100px;
}

@media(max-width:1400px) {
    .sub--field .illust-wrapper img {
        max-height: 200px;
        width: auto;
    }
}

@media(max-width:480px) {
    .sub--field .illust-wrapper {
        bottom: -40px;
    }

    .sub--field .illust-wrapper img {
        max-height: 150px;
        width: auto;
    }
}

/*취업멘토링*/
.header--mentor,
.sub__top--mentor {
    background-color: #E4ECEE;
}

.sub--mentor .sub__container {
    background-image: url('../img/sub/bg_4.png');
}

.sub--mentor .video-list li button:hover,
.sub--mentor .video-list li button.active {
    background-color: #1e2736;
}

@media(max-width:1480px) {
    .sub--mentor .illust-wrapper img {
        width: 140px;
    }
}

@media(max-width:767px) {
    .sub--mentor .illust-wrapper {
        bottom: -15px;
    }

    .sub--mentor .illust-wrapper img {
        width: 140px;
    }
}

/*우수과제*/
.header--assign,
.sub__top--assign {
    background-color: #DEDEDE;
}

.sub--assign .sub__container {
    background-image: url('../img/sub/bg_6.png');
}

.sub--assign .video-list li button:hover,
.sub--assign .video-list li button.active {
    background-color: #2b2b2b;
}

/*우수과제1 동영상 비율 변경*/
.assign-1.video {
    max-width: 806px;
}

.assign-1.video .video-wrapper {
    padding-top: 66.99%;
}

@media(max-width:1400px) {
    .sub--assign .illust-wrapper img {
        width: 150px;
    }
}

@media(max-width:767px) {
    .sub--assign .illust-wrapper {
        bottom: -15px;
    }

    .sub--assign .illust-wrapper img {
        width: 140px;
    }
}

/*퀴즈*/
.header--quiz,
.sub__top--quiz {
    background-color: #efeef1;
}

.sub--quiz h2 {
    width: 100%;
    margin: 120px auto 100px auto;
}

.sub--quiz h2 img {
    max-width: 100%;

}

.sub--quiz .sub__container {
    background-image: url('../img/sub/bg_7.png');
}

@media(max-width:767px) {
    .sub--quiz h2 {
        margin: 40px auto;
    }

    .sub--quiz h2 img {
        max-width: 60%;
    }

    .sub--quiz .illust-wrapper img {
        width: 100px;

    }

    .sub--quiz .sub__container {
        padding-bottom: 100px;
    }

}

/**/
/* ----------------------------------------------
 * Generated by Animista on 2020-8-21 20:24:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }

    15% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    30% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    45% {
        -webkit-transform: rotate(-3.6deg);
        transform: rotate(-3.6deg);
    }

    60% {
        -webkit-transform: rotate(2.4deg);
        transform: rotate(2.4deg);
    }

    75% {
        -webkit-transform: rotate(-1.2deg);
        transform: rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }

    15% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    30% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    45% {
        -webkit-transform: rotate(-3.6deg);
        transform: rotate(-3.6deg);
    }

    60% {
        -webkit-transform: rotate(2.4deg);
        transform: rotate(2.4deg);
    }

    75% {
        -webkit-transform: rotate(-1.2deg);
        transform: rotate(-1.2deg);
    }
}